@import './_variables/_color.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');


body{
    margin: 0px;
    background-color: $light-gray;
    font-family: 'Roboto', sans-serif;;
}